block outputs
    - var labels = [ 'Output 1:', 'Output 2:' ];   
    - var output1Values = [ '52a Phases ABC', '52a Phase A', 'General' ];
    - var output2Values = [ '52b Phases ABC', '52b/69 Lockout ABC', '52b Phase A', 'General' ];
    each item in labels
      div(class='input-group mb-3')
        div(class='input-group-prepend')
          label(class='input-group-text', for=item) #{item}
        
        select(class='custom-select', id=item)          
          if ('Output 1:' === item )
            each val in output1Values
                option(value=val) #{val}
          else if ('Output 2:' === item )
            each val in output2Values
                option(value=val) #{val}
          else
            option(value='error') Error
    